 html,
    body,
    #map_canvas {
      height: 90%;
      width: 100%;
      margin: 0px;
    }
    
    #map_canvas {
      position: relative;
    }
    
    .angular-google-map-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    
    .backgroundClr{
      background-color: aliceblue;
    }
    
    .marginLeft{
      margin-left: 49px;
    }